#mainNav {
  background: #003279;
}

header {
  background: #BD1021;
}
header.star-light::after {
  background-color: #BD1021;
}

#portfolio {
  background: #FFFFFF;
}
#portfolio.star-light::after {
  background-color: #FFFFFF;
}

#about {
  background: #003279;
}
#about.star-light::after {
  background-color: #003279;
}

#free-lunch {
  background: #BD1021;
}
#free-lunch.star-light::after {
  background-color: #BD1021;
}

#contact {
  background: #FFFFFF;
}
#contact.star-light::after {
  background-color: #FFFFFF;
}

footer .footer-above {
  background-color: #003279;
}
footer .footer-below {
  background-color: #000813;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
  background: #BD1021;
}

.btn-success {
  background: #003279;
  border-color: #003279;
}

a, a.active, a:active, a:focus, a:hover {
  color: #5f0811;
}
