#mainNav {
  background: #003279;
}

header {
  background: #BD1021;
}

#portfolio {
  background: #FFFFFF;
}

#about {
  background: #003279;
}

#free-lunch {
  background: #BD1021;
}

#contact {
  background: #FFFFFF;
}

.star-light::after {
  background-color: inherit;
}

.footer-above {
  background-color: #003279;
}

.footer-below {
  background-color: #000813;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
  background: #BD1021;
}

.btn-success {
  background: #003279;
  border-color: #003279;
}

a, a.active, a:active, a:focus, a:hover {
  color: #BD1021;
}
