#mainNav {
  background: #003279;
}
#mainNav.navbar-custom .navbar-nav li a:hover {
  color: #bd1021;
}

header {
  background-image: url("http://randomwallpapers.net/baseball-stitching-white-2560x1440-wallpaper173427.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: inherit;
}
header .star-light {
  border-color: inherit;
}
header .star-light::after {
  background-color: white;
  color: inherit;
}

#the-game {
  background: #bd1021;
}
#the-game .star-light::after {
  background-color: #bd1021;
}

#portfolio {
  background: white;
}
#portfolio h3 {
  text-align: center;
}
#portfolio .star-light::after {
  background-color: white;
}
#portfolio .portfolio-item img {
  width: 100%;
  height: 100%;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background-color: rgba(189, 16, 33, 0.8);
}

#about {
  background: #003279;
}
#about .star-light::after {
  background-color: #003279;
}

#free-lunch {
  background: white;
  color: inherit;
}
#free-lunch .star-light {
  border-color: inherit;
}
#free-lunch .star-light::after {
  background-color: white;
  color: inherit;
}

#contact {
  background: #bd1021;
  color: white;
}
#contact .star-primary {
  border-color: white;
}
#contact .star-primary::after {
  background-color: #bd1021;
  color: white;
}
#contact #contactForm .row control-group::before {
  color: white;
}
#contact #contactForm .form-control {
  color: white;
}
#contact #contactForm .form-control::-webkit-input-placeholder {
  color: white;
}
#contact #contactForm .form-control::-moz-placeholder {
  color: white;
}
#contact #contactForm .form-control:-ms-input-placeholder {
  color: white;
}
#contact #contactForm .form-control:-moz-placeholder {
  color: white;
}
#contact #contactForm .help-block {
  color: white;
}
#contact form label {
  color: white;
}
#contact .btn-success {
  background: white;
  border-color: white;
  color: #003279;
}
#contact.btn-success.active, #contact .btn-success:active, #contact .btn-success:focus, #contact .btn-success:hover, #contact .open .dropdown-toggle.btn-success {
  background-color: #003279;
  border-color: #003279;
  color: white;
}

footer {
  color: inherit;
}
footer .footer-above {
  background-color: white;
}
footer .footer-above .btn-social {
  border-color: inherit;
}
footer .footer-above .btn-outline {
  color: inherit;
}
footer .footer-above .btn-outline.active, footer .footer-above .btn-outline:active, footer .footer-above .btn-outline:focus, footer .footer-above .btn-outline:hover {
  color: #bd1021;
}
footer .footer-below {
  background-color: #f2f2f2;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
  background: #bd1021;
}

.btn-success {
  background: #003279;
  border-color: #003279;
}

a, a.active, a:active, a:focus, a:hover {
  color: inherit;
}
