// Defining Variables //
$brand-primary: #003279;
$brand-secondary: #BD1021;
$brand-tertiary: #FFFFFF;
$bottom-footer: #750A15;

#mainNav {
	background: $brand-primary;
}
header {
	background: $brand-secondary;
	&.star-light {
		&::after {
			background-color: $brand-secondary;
		}
	}
}

#portfolio {
	background: $brand-tertiary;
	&.star-light {
		&::after {
			background-color: $brand-tertiary;
		}
	}
}
#about {
	background: $brand-primary;
	&.star-light {
		&::after {
			background-color: $brand-primary;
		}
	}
}
#free-lunch {
	background: $brand-secondary;
	&.star-light {
		&::after {
			background-color: $brand-secondary;
		}
	}
}

#contact {
	background: $brand-tertiary;
	&.star-light {
		&::after {
			background-color: $brand-tertiary;
		}
	}
}

footer{
	.footer{
		&-above {
			background-color: $brand-primary;
		}
		&-below {
			background-color: darken($brand-primary, 20%);
		}	
	}
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
	background: $brand-secondary;
}
.btn-success {
	background: $brand-primary;
	border-color: $brand-primary;
}

a, a.active, a:active, a:focus, a:hover {
	color: darken($brand-secondary,20%);
}